/* HTML GENERAL */
html, body {
  max-width: 100% !important;
  overflow-x: hidden !important; }

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box; }

/*  NAV GENERAL  */
.headerNav {
  width: 100%; }

.headerNav ul li a {
  font-family: 'Teko', sans-serif;
  font-size: 150%; }

.headerNav a:hover {
  text-decoration: underline; }

/*  FOOTER  GENERAL  */
.footer {
  height: 15vh;
  background-image: linear-gradient(to bottom, white, black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  transition: all 3s; }

.footer img {
  height: 40px;
  align-items: center; }

.footer img:hover {
  transform: scale(2, 2); }

/*  BACKGROUND MAIN GENERAL  */
.main {
  background-image: linear-gradient(to top, white, black); }

/* INDEX */
.headerPortadaIndex, .headerPortadaFalconheavy, .headerPortadaDragon, .headerPortadaStarship, .headerPortadaContacto {
  background-size: cover;
  height: 90vh;
  background-image: url(../images/portadaindex.jpg); }

.mainSection, .mainSectionDragon {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "titulo titulo" "texto texto" "imagen1 imagen2"; }

.title {
  color: white;
  justify-self: center;
  grid-area: titulo;
  font-family: 'Monda', sans-serif;
  padding-top: 3%; }

.mainParrafo, .mainParrafoFalconheavy, .mainParrafoDragon, .mainParrafoStarship, .mainParrafoContacto {
  grid-area: texto;
  width: 100%;
  height: 100%;
  justify-self: center;
  font-family: 'Monda', sans-serif;
  padding: 5%;
  color: white; }

.parrafo, .parrafoFalconheavy, .parrafoDragon, .parrafoStarship, .parrafoContacto {
  font-size: 22px;
  text-align: center; }

.mainImagen1, .mainImagen1Falconheavy, .mainImagen1Dragon, .mainImagen1Starship {
  grid-area: imagen1;
  margin: 3%; }

.mainImagen1 img, .mainImagen1Falconheavy img, .mainImagen1Dragon img, .mainImagen1Starship img {
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.mainImagen2, .mainImagen2Falconheavy, .mainImagen2Dragon, .mainImagen2Starship {
  grid-area: imagen2;
  margin: 3%; }

.mainImagen2 img, .mainImagen2Falconheavy img, .mainImagen2Dragon img, .mainImagen2Starship img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.video, .videoFalconheavy, .videoDragon, .videoStarship, .videoContacto {
  padding: 5%;
  text-align: center; }

.carousel {
  width: 90%;
  padding: 2%;
  margin-left: 5%; }

/*  FALCON HEAVY  */
.headerPortadaFalconheavy {
  background-image: url(../images/portadafalcon.jpg); }

.mainSectionFalconheavy {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "titulo titulo" "texto imagen1" "texto imagen2"; }

.mainImagen1Falconheavy img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.mainImagen2Falconheavy img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5%; }

/*  DRAGON  */
.headerPortadaDragon {
  background-image: url(../images/portadadragon.jpg);
  color: black; }

.mainImagen1Dragon img {
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.mainImagen2Dragon img {
  width: 100%;
  height: 100%;
  border-radius: 5%; }

/* STARSHIP  */
.headerPortadaStarship {
  background-image: url(../images/portadastarship.jpg); }

.mainSectionStarship {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas: "titulo titulo" "imagen1 texto" "imagen2 texto"; }

.mainImagen1Starship img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5%; }

.mainImagen2Starship img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5%; }

/* CONTACTO */
.headerPortadaContacto {
  background-image: url(../images/portadacontacto.jpg); }

.title h1 {
  font-family: 'Monda', sans-serif;
  padding-top: 3%;
  text-align: center; }

.formulario {
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  color: white; }

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  /* GENERAL */
  .headerNav ul {
    align-items: center;
    flex-direction: column;
    height: auto; }
  /* INICIO */
  .headerPortadaIndex, .headerPortadaFalconheavy, .headerPortadaDragon, .headerPortadaStarship, .headerPortadaContacto {
    height: 50vh;
    font-size: 111%; }
  .mainSection, .mainSectionDragon {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "titulo" "texto" "texto" "imagen1" "imagen2"; }
  .parrafo, .parrafoFalconheavy, .parrafoDragon, .parrafoStarship, .parrafoContacto {
    font-size: 18px; }
  .video iframe, .videoFalconheavy iframe, .videoDragon iframe, .videoStarship iframe, .videoContacto iframe {
    max-width: 100%;
    width: 100%; }
  .carousel {
    width: 100%;
    padding: 2%;
    margin-left: 0%; }
  /* FALCON HEAVY */
  .headerPortadaFalconheavy {
    height: 50vh;
    font-size: 111%; }
  .mainSectionFalconheavy {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "texto" "texto"  "imagen1" "imagen2"; }
  .parrafoFalconheavy {
    font-size: 18px; }
  .videoFalconheavy iframe {
    max-width: 100%;
    width: 100%; }
  /* DRAGON */
  .headerPortadaDragon {
    height: 50vh;
    font-size: 111%; }
  .mainSectionDragon {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "texto"  "texto" "imagen1" "imagen2"; }
  .parrafoDragon {
    font-size: 18px; }
  .videoDragon iframe {
    max-width: 100%;
    width: 100%; }
  /* STARSHIP */
  .headerPortadaStarship {
    height: 50vh;
    font-size: 111%; }
  .mainSectionStarship {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "titulo" "texto" "texto" "imagen1" "imagen2"; }
  .parrafoStarship {
    font-size: 18px;
    padding-top: 5%; }
  .videoStarship iframe {
    max-width: 100%;
    width: 100%; }
  /* CONTACTO */
  .headerPortadaContacto {
    background-size: cover;
    height: 50vh;
    font-size: 111%; }
  .parrafoContacto {
    font-size: 18px; }
  .videoContacto iframe {
    max-width: 100%;
    width: 100%; }
  .formulario {
    width: 90%;
    margin: 5%; } }
