/*  BACKGROUND MAIN GENERAL  */

.main {
    background-image: linear-gradient(to top,rgb(255, 255, 255), rgb(0, 0, 0));
}

/* INDEX */

.headerPortadaIndex {
    background-size: cover;
    height: 90vh;
    background-image: url(../images/portadaindex.jpg);
}
.mainSection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo titulo"
                         "texto texto"
                         "imagen1 imagen2";
}
.title {
    color:white;
    justify-self: center;
    grid-area: titulo;
    font-family: 'Monda', sans-serif;
    padding-top: 3%;
}
.mainParrafo {
    grid-area: texto;
    width: 100%;
    height: 100%;
    justify-self: center;
    font-family: 'Monda', sans-serif;
    padding: 5%;
    color: white;
}
.parrafo  {
    font-size: 22px;
    text-align: center;
}
.mainImagen1 {
    grid-area: imagen1;
    margin: 3%;
}
.mainImagen1 img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.mainImagen2 {
    grid-area: imagen2;
    margin: 3%;
}
.mainImagen2 img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.video{
    padding: 5%;
    text-align: center;

}
.carousel {
    width: 90%;
    padding: 2%;
    margin-left: 5%;
}

/*  FALCON HEAVY  */

.headerPortadaFalconheavy {
    @extend .headerPortadaIndex;
    background-image: url(../images/portadafalcon.jpg);
   
}
.mainSectionFalconheavy {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo titulo"
                         "texto imagen1"
                         "texto imagen2";
}
.mainParrafoFalconheavy {
    @extend .mainParrafo;
}
.parrafoFalconheavy  {
    @extend .parrafo;
}
.mainImagen1Falconheavy {
    @extend .mainImagen1;
}
.mainImagen1Falconheavy img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.mainImagen2Falconheavy {
    @extend .mainImagen2;
}
.mainImagen2Falconheavy img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.videoFalconheavy {
    @extend .video;
}

/*  DRAGON  */

.headerPortadaDragon {
    @extend .headerPortadaIndex;
    background-image: url(../images/portadadragon.jpg);
    color: black;
}
.mainSectionDragon {
    @extend .mainSection;
}
.mainParrafoDragon {
    @extend .mainParrafo;
}
.parrafoDragon  {
    @extend .parrafo;
}
.mainImagen1Dragon {
    @extend .mainImagen1;
}
.mainImagen1Dragon img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.mainImagen2Dragon {
    @extend .mainImagen2;
}
.mainImagen2Dragon img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.videoDragon {
    @extend .video;
}

/* STARSHIP  */

.headerPortadaStarship {
    @extend .headerPortadaIndex;
    background-image: url(../images/portadastarship.jpg);
}
.mainSectionStarship {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo titulo"
                         "imagen1 texto"
                         "imagen2 texto";
}
.mainParrafoStarship {
    @extend .mainParrafo;
}
.parrafoStarship {
   @extend .parrafo;
}
.mainImagen1Starship {
    @extend .mainImagen1;
}
.mainImagen1Starship img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.mainImagen2Starship {
    @extend .mainImagen2;
}
.mainImagen2Starship img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.videoStarship {
    @extend .video;
}

/* CONTACTO */

.headerPortadaContacto {
    @extend .headerPortadaIndex;
    background-image: url(../images/portadacontacto.jpg);   
}
.title h1 {
    font-family: 'Monda', sans-serif;
    padding-top: 3%;
    text-align: center
}
.mainParrafoContacto {
    @extend .mainParrafo;
}
.parrafoContacto {
    @extend .parrafo;
}
.videoContacto {
    @extend .video;
}
.formulario {
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    color: white;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

    /* GENERAL */
    
    .headerNav ul {
        align-items: center;
        flex-direction: column;
        height: auto;
    }
    
    /* INICIO */
    
    .headerPortadaIndex {
        height: 50vh;
        font-size: 111%;
     
    }
    .mainSection {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titulo"
                             "texto"
                             "texto"
                             "imagen1"
                             "imagen2";
    }
    .parrafo  {
        font-size: 18px;
    }
    .video iframe {
        max-width: 100%;
        width: 100%;
    }
    .carousel {
        width: 100%;
        padding: 2%;
        margin-left: 0%;
    }
    
    /* FALCON HEAVY */
    
    .headerPortadaFalconheavy {
        height: 50vh;
        font-size: 111%; 
    }
    .mainSectionFalconheavy {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "titulo"
                             "texto"
                             "texto" 
                             "imagen1"
                             "imagen2";
    }
    .parrafoFalconheavy  {
        font-size: 18px;
    }
    .videoFalconheavy iframe {
        max-width: 100%;
        width: 100%;
    }
    
    /* DRAGON */
    
    .headerPortadaDragon {
        height: 50vh;
        font-size: 111%;
    }
    .mainSectionDragon {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "texto" 
                             "texto"
                             "imagen1"
                             "imagen2";
    }
    .parrafoDragon  {
        font-size: 18px;
    }
    .videoDragon iframe {
        max-width: 100%;
        width: 100%;
    }
    
    /* STARSHIP */
    
    .headerPortadaStarship {
        height: 50vh;
        font-size: 111%;
    }
    .mainSectionStarship {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "titulo"
                             "texto"
                             "texto"
                             "imagen1"
                             "imagen2";
    }
    .parrafoStarship {
        font-size: 18px;
        padding-top: 5%;
    }
    .videoStarship iframe {
        max-width: 100%;
        width: 100%;
    }
    
    /* CONTACTO */
    
    .headerPortadaContacto {
        background-size: cover;
        height: 50vh;
        font-size: 111%;
    }
    .parrafoContacto {
        font-size: 18px;
    }
    .videoContacto iframe {
        max-width: 100%;
        width: 100%;
    }
    .formulario {
        width: 90%;
        margin: 5%;
    }
    
    }