/*  NAV GENERAL  */

.headerNav {
    width: 100%;
  }
  .headerNav ul li a {
      font-family: 'Teko', sans-serif;
      font-size: 150%;
  }
  .headerNav a:hover {
      text-decoration: underline;
  }